[Desktop Entry]
Version=1.0
Name=V Core
Comment=Connect to the V Core P2P Network
Comment[de]=Verbinde mit dem V Core peer-to-peer Netzwerk
Comment[fr]=V Core, monnaie virtuelle cryptographique pair à pair
Comment[tr]=V Core, eşten eşe kriptografik sanal para birimi
Exec=vcore-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoin;
Categories=Office;Finance;
StartupWMClass=VCore-qt