# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bitcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/bitcoin/bitcoin.conf

[Unit]
Description=V Core's distributed currency daemon
After=network.target

[Service]
ExecStart=/usr/bin/vcored -daemon -conf=/etc/vcore/vcore.conf -pid=/run/vcored/vcored.pid
# Creates /run/bitcoind owned by vcore
RuntimeDirectory=vcored
User=vcore
Type=forking
PIDFile=/run/vcored/vcored.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target